GROQ_API_KEY=your_groq_key_here
CODENOVA_API_BASE_URL=http://127.0.0.1:8000
CODENOVA_API_TIMEOUT=120
CODENOVA_API_RETRIES=2
CODENOVA_API_RETRY_BACKOFF=0.8
CODENOVA_HEALTH_POLL_MS=30000
CODENOVA_HEALTH_AUTO_POLL=true
